.background {
  background-color: white;
  padding: 20px 0 50px 0;
  height: auto;
  width: 100%;
  max-width: 1280px;
  border-radius: 0 0 20px 20px;
  margin-bottom: 10px;
}

.container {
  margin: 0 auto;
  margin-top: 26px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.shoppingCart {
  max-width: 100%;
  height: auto;
  width: auto;
  margin-top: 100px;
}
.divider {
  margin-left: auto;
  margin-right: 0;
  margin-top: 16px;
  margin-bottom: 16px;
  width: 200px;
  border-bottom: 3px solid #494949;
}
.counter {
  font-size: 2.4rem;
}
.completeCounter {
  margin-top: 48px;
  text-align: right;
  font-size: 1.6rem;
  width: 87svw;
}

.totalPrice {
  font-size: 3rem;
  font-weight: 500;
}
.totalPriceCont {
  font-size: 2rem;
  font-weight: 300;
}
.loading {
  position: fixed;
  top: 30%;
  right: 48%;
}
