.wrapperContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  margin: 0 auto;
  margin-top: 26px;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 24px;
}
.fullPage {
  min-height: calc(100vh - 230px);
}
.emptyListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 48px;
}

.emptyListImage {
  margin-top: 48px;
  max-width: 42%;
}
.divider {
  margin-left: auto;
  margin-right: 0;
  margin-top: 16px;
  margin-bottom: 16px;
  width: 191px;
  border-bottom: 3px solid #494949;
}
.counter {
  font-size: 2.4rem;
}
.completeCounter {
  margin-top: 48px;
  text-align: right;
  font-size: 1.6rem;
  width: 87svw;
}

.totalPrice {
  font-size: 3rem;
  font-weight: 500;
  padding-bottom: 115px;
}
.totalPriceCont {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 48px;
}

.emptyCartMessage {
  font-weight: 300;
  color: #494949;
}
