.wrapperContainer {
  display: flex;

  flex-direction: column;
  justify-content: space-between;
}
.container {
  margin: 0 48px 0 48px;

  max-width: 100vw;
}
.addButton {
  text-align: center;
  margin: 20px;
}
.search {
  text-align: center;
  margin: 20px;
}
.categorySearch {
  margin: 20px;
}
.filterContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hiddenChild {
  width: 180px;
  visibility: hidden;
}
.dividerContainer {
  margin-left: 20px;
}
.divider {
  border-bottom: 3px solid #494949;
  width: 220px;
  margin-top: 8px;
  margin-bottom: 48px;
}
