.overlay {
  position: fixed;
  backdrop-filter: blur(8px);
  top: 0rem;
  left: 0rem;
  width: 100vw;
  height: 100vh;
  z-index: 20;

  background-color: rgba(85, 85, 85, 0.722);
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  padding: 20px;

  border-radius: 12px;
  background-color: var(--background-grey);
  z-index: 21;
  filter: drop-shadow(0 0 40px #1010103e);
}
.buttonContainer {
  text-align: right;
  position: absolute;
  right: 10px;
  top: 10px;
}
.closeButton {
  width: 30px;
  height: 30px;
  cursor: pointer;
  fill: var(--font-dark);
  padding: 2px;

  transition: var(--transition);
}

.closeButton:hover {
  border-radius: 1000px;
  background-color: rgb(253, 253, 253);
  border: var(--border);
}
