.container {
  background-color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;
  margin-bottom: 15px;
}

.addButton {
  fill: var(--main-color);

  width: 35px;
  height: 35px;
  cursor: pointer;
  margin: 10px 0 10px 0;
}
