.container {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;
}
form {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.title {
  font-size: 2rem;
}
.field {
  width: 200px;
  height: 30px;

  font-size: 1.7rem;
}

.checkbox {
  width: 20px;
  height: 20px;
}
.svgAdd {
  width: 35px;
  height: 35px;
  cursor: pointer;
  margin: 10px 0 10px 0;
}
.svgClose {
  width: 35px;
  height: 35px;
  cursor: pointer;
  margin: 10px 0 10px 0;
  transform: rotate(45deg);
}
.hidden {
  display: hidden;
}
