.overlay {
  position: fixed;
  backdrop-filter: blur(8px);
  top: 0rem;
  left: 0rem;
  width: 100vw;
  height: 100vh;
  z-index: 20;

  background-color: rgba(85, 85, 85, 0.722);
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: clamp(45ch, 50%, 75ch);
  height: auto;
  padding: 20px;

  border-radius: 12px;
  background-color: rgb(253, 253, 253);
  z-index: 21;
}
.buttonContainer {
  position: absolute;
  left: 50%;
  top: 75%;
  transform: translate(-50%, -50%);
}
