.card {
  align-items: center;
  justify-content: center;

  background-color: rgb(238, 238, 238);
  padding: 20px;
  border-radius: 10px;
}

.name {
  font-size: 2rem;
  text-transform: uppercase;
  line-height: normal;
  font-weight: 500;
}
.titleContainer {
  display: flex;
  justify-content: space-between;
  line-height: 0.6;
}
.buttonsContainer {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
.deleteButton {
  cursor: pointer;
  width: 3.5rem;
  height: 3.5rem;
  background-color: rgb(255, 255, 255);
  border-radius: 300px;
  padding: 5px;
  fill: rgb(91, 35, 35);
  transition: all 0.2s;
}
.editButton {
  cursor: pointer;
  width: 3.5rem;
  height: 3.5rem;
  background-color: rgb(255, 255, 255);
  border-radius: 300px;
  padding: 5px;
  fill: rgb(59, 59, 59);
  transition: all 0.2s;
  margin-right: 15px;
}
.category {
  font-size: 1.4rem;
  color: #4f4f4f;
}

dd {
  font-size: 1.6rem;
  min-height: 40px;
  margin-bottom: 10px;
}
.price {
  font-size: 2.2rem;
  align-self: flex-end;
  color: rgb(58, 114, 61);
}
.currency {
  color: black;
}
.title {
  font-size: 1.6rem;
  font-weight: 300;
}
.lastPurchased {
  font-size: 1.8rem;
  font-weight: 400;
}
