.container {
  display: flex;
}

.itemAdded {
  grid-template-columns: 2fr 1px 1fr 1fr 1fr;
  display: grid;
  font-size: 2rem;
  justify-content: center;
  border: var(--border);

  width: 60vw;
  height: 100px;
  max-height: 100%;
  max-width: 100%;

  border-radius: 15px;
  text-align: center;
  font-weight: 600;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
  transition: var(--transition);
}
.imageContainer {
  position: relative;
}
.image {
  position: absolute;
  transition: var(--transition);
  width: 60px;
  top: 8px;
  left: -28px;
  user-select: none;
}
#imageCompleted {
  filter: grayscale();
  transition: var(--transition);
}
#Food-and-Pantry {
  background-color: hsl(155, 54%, 69%);
  max-width: 100%;
  max-height: 100%;
  transition: var(--transition);
}
#Household {
  background-color: #c1b9f9;
  max-width: 100%;
  max-height: 100%;
  transition: var(--transition);
}

#None {
  background-color: #fff;
  max-width: 100%;
  max-height: 100%;
  transition: var(--transition);
}

#Health-and-Beauty {
  background-color: #eaeb95;
  max-width: 100%;
  max-height: 100%;
  transition: var(--transition);
}
#completed {
  background-color: #cecece;
  max-width: 100%;
  max-height: 100%;
  transition: var(--transition);
}
#completed:last-child {
  border-radius: 0 15px 15px 0;
}
#Food-and-Pantry:last-child,
#Health-and-Beauty:last-child,
#None:last-child,
#Household:last-child {
  border-radius: 0 15px 15px 0;
}

.itemAddedCompleted {
  grid-template-columns: 2fr 1px 1fr 1fr 1fr;
  display: grid;
  text-decoration: line-through;
  background-color: #cecece;
  justify-content: center;
  border: var(--border);
  font-size: 2rem;
  width: 60vw;
  min-height: 100px;
  max-width: 1200px;
  transition: var(--transition);

  border-radius: 15px;
  text-align: center;
  font-weight: 600;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
}

.title {
  margin-top: 20px;
  margin-bottom: 14px;
  font-size: 1.6rem;
  font-weight: 300;
  user-select: none;
}
.titleName {
  margin-top: 20px;
  margin-bottom: 14px;
  font-size: 1.6rem;
  font-weight: 300;
  user-select: none;
}

.infoSpan {
  text-transform: uppercase;
  font-weight: 500;
  user-select: none;
}
.notCompletedIcon {
  cursor: pointer;
  min-width: 100px;
  min-height: 100px;
  padding: 20px;
  border: var(--border);
  background-color: rgb(255, 255, 255);
  border-radius: 300px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);

  fill: var(--main-color);
  transition: var(--transition);
}
.actionButtons {
  margin-left: 24px;

  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
}
.notCompletedIcon:hover {
  fill: var(--background-color);
  background-color: var(--main-color);
}
.completedIcon {
  cursor: pointer;
  min-width: 100px;
  min-height: 100px;
  padding: 20px;
  border: var(--border);
  background-color: #cecece;
  border-radius: 300px;

  fill: var(--main-color);
  transition: var(--transition);
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
}
.completedIcon:hover {
  background-color: hsl(4, 69%, 48%);

  fill: rgb(255, 255, 255);
}
.deleteButton {
  border: var(--border);
  cursor: pointer;
  min-width: 96px;
  min-height: 96px;
  padding: 25px;
  background-color: rgb(255, 255, 255);
  border-radius: 300px;

  fill: hsl(4, 69%, 48%);
  transition: var(--transition);
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
}
.deleteButton:hover {
  background-color: hsl(4, 69%, 48%);

  fill: rgb(255, 255, 255);
}
.quantityCont {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}
.quantityButton {
  cursor: pointer;
  width: 34px;
  height: 34px;
  user-select: none;
  background-color: var(--background-color);
  border: var(--border);
  border-radius: 300px;

  font-size: 2.4rem;
}
.quantity {
  font-size: 2rem;
  font-weight: 500;
  width: 40px;
  user-select: none;
}
@media screen and (max-width: 971px) {
  .title {
    margin-top: 16px;
    margin-bottom: 10px;
    font-size: 1.4rem;
  }
  .image {
    position: absolute;
    transition: var(--transition);
    width: 50px;
    top: 14px;
    left: -43px;
    user-select: none;
  }
}
@media screen and (max-width: 750px) {
  .actionButtons {
    margin-right: 8px;
    margin-left: 8px;
    flex-direction: column;
    gap: 8px;
  }
  .deleteButton {
    min-width: 46px;
    min-height: 46px;
    padding: 5px;
  }
  .notCompletedIcon {
    min-width: 46px;
    min-height: 46px;
    padding: 5px;
  }
  .image {
    position: absolute;
    width: 35px;
    top: -40px;
    left: -7px;
    user-select: none;
  }
  .itemAdded {
    grid-template-rows: 1fr 3fr;
    grid-template-columns: auto auto auto;

    width: 75vw;
    max-width: 100%;
    height: 115px;
    max-height: 100%;
  }

  .quantityButton {
    width: 28px;
    height: 28px;
    font-size: 2rem;
  }
  .quantity {
    font-size: 1.6rem;
    width: 30px;
    margin-bottom: 7px;
  }
  .title {
    font-size: 1.4rem;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
    padding: 10px;
  }
  .infoSpan {
    font-size: 1.4rem;
    min-width: 65px;
    padding: 0px 10px 18px 10px;
  }

  .divider {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 25vw;
    border: var(--border);
  }
  .quantityCont {
    padding-bottom: 10px;
    padding-left: 8px;
    padding-right: 8px;
  }
  .dividerName {
    grid-row: 1;
    grid-column: 1/6;
    justify-self: center;
    align-self: center;
    width: fit-content;
  }
  .titleName {
    display: none;
  }

  #Food-and-Pantry:nth-child(3),
  #Health-and-Beauty:nth-child(3),
  #None:nth-child(3),
  #Household:nth-child(3) {
    border-radius: 15px 0 0 15px;
  }
  #completed:nth-child(3) {
    border-radius: 15px 0 0 15px;
  }
  .completedIcon {
    min-width: 46px;
    min-height: 46px;
    padding: 5px;
  }
  .itemAddedCompleted {
    grid-template-rows: 1fr 3fr;
    grid-template-columns: auto auto auto;

    width: 75vw;
    max-width: 100%;
    height: 100px;
    max-height: 100%;
  }
}
