.footer {
  color: rgb(205, 205, 205);
  background-color: #242323;
  max-width: 100%;
  height: 100px;
}

.infoContainer {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  align-items: center;
  width: 96%;
  height: 100%;
}
.logo {
  width: 40px;
  height: 40px;
  fill: #dddddd;
  transition: var(--transition);
}
.logo:hover {
  fill: #fbfbfb;
}
.contactContainer {
  font-size: 1.4rem;
  display: flex;

  justify-content: flex-end;
  gap: 16px;
}

.copyright {
  display: flex;
  font-size: 1.4rem;
  gap: 24px;
}
.illustrationInfo {
  font-size: 1.4rem;
  margin-right: 48px;
}

.link:link,
.link:visited {
  color: #dddddd;
}
