.container {
  width: 400px;
  padding: 32px;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.input {
  font-size: 1.6rem;
  height: 48px;
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: var(--border);
}
.label {
  font-size: 1.4rem;
  gap: 8px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
