.gridContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 48px;
  margin: 24px 24px;
}

.loading {
  position: fixed;
  top: 30%;
  right: 48%;
}
.container {
  min-height: calc(100vh - 401px);
  padding-bottom: 120px;
}
.emptyListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 48px;
}
.emptyListImage {
  max-width: 42%;
  height: auto;
}
.emptyListMessage {
  font-weight: 300;
  color: #494949;
}
@media screen and (max-width: 830px) {
  .gridContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 700px) {
  .gridContainer {
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin: 16px 16px;
    width: 82vw;
  }
  .container {
    padding-bottom: 60px;
  }
  .emptyListImage {
    max-width: 92%;
    height: auto;
  }
  .container {
    min-height: calc(100vh - 500px);
    padding-bottom: 26px;
  }
}
