.searchField {
  font-size: 1.6rem;
  width: 350px;
  height: 48px;
  padding: 8px;
  border-radius: 5px;
  border: var(--border);
}

.label {
  font-size: 1.4rem;

  gap: 8px;
  align-items: start;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 700px) {
  .searchField {
    font-size: 1.6rem;
    width: auto;
    height: 48px;
  }
}
